<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.business.bu.dao.mapper.BuUserListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.metoo.business.bu.dao.entity.BuUserList">
        <id column="id" property="id" />
        <result column="city" property="city" />
        <result column="gander" property="gander" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="sate" property="sate" />
    </resultMap>

</mapper>
