<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.xy.xy.dao.mapper.XyCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.metoo.xy.xy.dao.entity.XyCity">
        <id column="id" property="id" />
        <result column="creation_time" property="creationTime" />
        <result column="city_id" property="cityId" />
        <result column="country_id" property="countryId" />
        <result column="introduction" property="introduction" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
        <result column="race_id" property="raceId" />
        <result column="state" property="state" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
