<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.im.im.dao.mapper.ImGiftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.metoo.im.im.dao.entity.ImGift">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="gift_id" property="giftId" />
        <result column="prices" property="prices" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
    </resultMap>

</mapper>
