<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.user.tj.dao.mapper.TjUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.metoo.user.tj.dao.entity.TjUser">
        <id column="id" property="id" />
        <result column="password" property="password" />
        <result column="state" property="state" />
        <result column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="phone_number" property="phoneNumber" />
        <result column="spare" property="spare" />
        <result column="creation_time" property="creationTime" />
    </resultMap>

</mapper>
