<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.user.in.dao.mapper.InSwiperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.metoo.user.in.dao.entity.InSwiper">
        <id column="id" property="id" />
        <result column="address" property="address" />
        <result column="swiper" property="swiper" />
    </resultMap>

</mapper>
